@model Domain.SYS_USER
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>后台登录</title>
</head>
<body>
    <div>
        <div>
            @using (Ajax.BeginForm("login", null, new AjaxOptions()
            {
                HttpMethod = "Post",
                OnBegin = "dig.Loading",
                OnSuccess = "dig.Success",
                OnFailure = "dig.Failure",
                OnComplete = "dig.Complete"
            }, new { @class = "form-signin" }))
            {
                @Html.AntiForgeryToken()
                @Html.TextBoxFor(model => model.ACCOUNT,
                                                        new
                                                        {
                                                            @class = "form-control",
                                                            @placeholder = "登录用户名",
                                                            @maxlength = 15,
                                                            @required = "required"
                                                        })
                @Html.PasswordFor(model => model.PASSWORD,
                                                        new
                                                        {
                                                            @class = "form-control",
                                                            @placeholder = "登录密码",
                                                            @maxlength = 12,
                                                            @required = "required"
                                                        })
                <button type="submit" id="login-button">Login</button>
            }

        </div>

    </div>


    <script type="text/javascript" src="/Content/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="/Content/js/jquery.unobtrusive-ajax.min.js"></script>
    <script type="text/javascript">

        var dig = {
            Loading: function () {
                $("#login-button").attr("disabled", "disabled");;
            },
            Success: function (result) {
                if (result.Status == "y") {
                    alert(result.Msg);
                } else {
                    alert(result.Msg);
                    dig.Complete();
                }
            },
            Failure: function () {
                alert(result.Msg);
                dig.Complete();
            },
            Complete: function () {
                $("#login-button").attr("disabled", false);
            },
            ErrorMsg: function (msg) {
                alert(msg);
            }
        };
    </script>

</body>
</html>